[submodule "Week #1"]
	path = "Week #1"
	url = "./Week #1"
[submodule "Week #6"]
	path = "Week #6"
	url = "./Week #5"
[submodule "Week #7"]
	path = "Week #7"
	url = "./Week #7"
[submodule "Week #8"]
	path = "Week #8"
	url = "./Week #8"
